MNUADV MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
POPUP "&File"
{
    MENUITEM "&Quit", 40140
}
POPUP "&Display"
{
    MENUITEM "&640 x 480", 40005
    MENUITEM "&800 x 600", 40006
    MENUITEM "&1024 x 768", 40007
    MENUITEM "1&280 x 1024", 40008
    MENUITEM "&Full Screen (F4)", 40009
}
POPUP "&Help"
{
    MENUITEM "On Line &Manual", 40052
    MENUITEM SEPARATOR
    MENUITEM "About", 40053
}
}
