################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ironfist/bin/maps
/ironfist/bin/games
/ironfist/bin/tracks
/ironfist/bin/data
/ironfist/editor_vs/Debug/editor_vs.tlog
*.obj
*.log
*.tlog
*.opendb
*.db
